Makefile
*.bak
*.cm*
*.d
*.a
*.aux
*.vo
*.glob
.coq-native
*.o
*.vio
*.log
*.aux
*.dvi
*.blg
*.bbl
*.idx
*.ilg
*.toc
*.atoc
*.comidx
*.comind
*.erridx
*.errind
*.haux
*.hcomind
*.herrind
*.hind
*.htacind
*.htoc
*.ind
*.lof
*.tacidx
*.tacind
*.v.tex
*.v.pdf
*.v.ps
*.v.html
*.stamp
coqdoc.sty
doc/*.html
doc/*.css

# emacs save files
*~
\#*\#
